! -*-	mode: conf-xdefaults;	-*-

#include ".Xhostres"

!! Fonts settings
! http://www.freedesktop.org/wiki/ScreenFontSettings
! Settings read by both Cairo and libXft:
! Xft.antialias:  (bool)// FC_ANTIALIAS Whether glyphs can be antialiased
Xft.antialias: true
! Xft.dpi:        (double)// FC_DPI  Target dots per inch
Xft.dpi: 120
! Xft.hinting:    (bool)// FC_HINTING  Whether the rasterizer should use hinting
Xft.hinting: true
! Xft.hintstyle:  (int) // FC_HINT_STYLE Automatic hinting style - hintnone hintslight hintmedium hintfull
Xft.hintstyle: hintnone
! Xft.rgba:       (int) // FC_RGBA unknown, rgb, bgr, vrgb, vbgr, none - subpixel geometry
Xft.rgba: none
! Xft.lcdfilter   (int) // FC_LCD_FILTER type of lcd filter to use - lcdnone lcddefault lcdlight lcdlegacy
Xft.lcdfilter: lcddefault
! Settings specific to libXft:
! Xft.scale (double) // FC_SCALE
! Xft.render (bool) // XFT_RENDER
! Xft.embolden (bool) // FC_EMBOLDEN true if emboldening needed
! Xft.autohint (bool) // FC_AUTOHINT Use autohinter instead of normal hinter
Xft.autohint: false
! Xft.minspace (bool) // FC_MINSPACE use minimum line spacing
! Xft.maxglyphmemory (int) // XFT_MAX_GLYPH_MEMORY

! These ones seem to be unused?
! Xft.core (bool) //  XFT_CORE
! Xft.xlft (string) // XFT_XLFD
#ifndef FONT
# define FONT -gnu-unifont-*-*-*-*-16-*-*-*-*-*-iso10646-1
#endif

#ifndef MONOFONT
# define MONOFONT -*-terminus-medium-r-*-*-*-120-*-*-*-*-iso10646-1
#endif

#ifndef XFTMONOFONT
# define XFTMONOFONT Consolas-10
#endif

#ifndef XFTFONT
# define XFTFONT Lucida Grande-8
#endif

#include ".urxvtrc"
! #include ".yeahconsolerc"

!Emacs*useXIM:false
Emacs*XlwMenu.font: XFTFONT
Emacs.dialog*.font: XFTFONT
Emacs*Paned*XlwMenu.background: gray90
Emacs*Paned*XlwMenu.foreground: black
Emacs.fullscreen: maximized

Xcursor.theme: Obsidian

#define FG_BASE #000000
#define BG_BASE #FFFAFA

! внешний вид виджетов Xaw
*SmeBSB.font: FONT
*Command.font: FONT
*Toggle.font: FONT
*MenuButton.font: FONT
*Label.font: FONT
.Xedit*Text.AsciiSink.font: MONOFONT
!*background:  #F1F3F1
!*foreground:  FG_BASE
!*Text.background: #FFFFFF
*Command.borderWidth: 1
*Command.foreground: FG_BASE
*Command.background: BG_BASE
*Toggle.foreground: FG_BASE
*Toggle.background: BG_BASE
*MenuButton.foreground: FG_BASE
!*MenuButton.background: BG_BASE
*SimpleMenu.background: #FFFFE7
*SimpleMenu.borderColor: #316BC6
*SmeBSB.foreground:  #003457
*Tree.background:  #FFFFFF
*Porthole.background:  #FFFFFF

#define SHAPE_STYLE roundedRectangle
#define CR_PERCENT 12
*MenuButton.cornerRoundPercent: CR_PERCENT
*MenuButton.shapeStyle: SHAPE_STYLE
*Command.cornerRoundPercent: CR_PERCENT
*Command.shapeStyle: SHAPE_STYLE
*cornerRoundPercent: CR_PERCENT
*shapeStyle: SHAPE_STYLE

! 16-color palette:
! black/#000000
*color0: #121212
! red3/#cd0000
*color1: #cd0000
! green3/#00cd00
*color2: #95e454
! yellow3/#cdcd00
*color3: #cdcd30
! blue3/#0000cd
*color4: #3040cd
! magenta3/#cd00cd
*color5: #cd60cd
! cyan3/#00cdcd
*color6: #8ac6f2
! white: gray90/#e5e5e5
*color7: #efefef
! brightblack: gray30/#4d4d4d
*color8: #4d4d4d
! brightred: red/#ff0000
*color9: #ee2040
! brightgreen: green/#00ff00
*color10: #30ef30
! brightyellow: yellow3/#ffff00
*color11: #eeee20
! brightblue: blue/#0000ff
*color12: #2040de
! brightmagenta: magenta/#ff00ff
*color13: #ca40dd
! brightcyan: cyan/#00ffff
*color14: #30e1ea
! brightwhite: white/#ffffff
*color15: #ffffff


! настройка внешнего вида отдельных приложений

!xcalc
xcalc*geometry: 200x275
xcalc.ti.bevel.background: #111111
xcalc.ti.bevel.screen.background: #000000
xcalc.ti.bevel.screen.DEG.background: #000000
xcalc.ti.bevel.screen.DEG.foreground: LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background: #000000
xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.RAD.background: #000000
xcalc.ti.bevel.screen.RAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.INV.background: #000000
xcalc.ti.bevel.screen.INV.foreground: Red
xcalc.ti.bevel.screen.LCD.background: #000000
xcalc.ti.bevel.screen.LCD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background: #000000
xcalc.ti.bevel.screen.M.foreground: LightSeaGreen
xcalc.ti.bevel.screen.P.background: #000000
xcalc.ti.bevel.screen.P.foreground: Yellow
xcalc.ti.Command.foreground: White
xcalc.ti.Command.background: #777777
xcalc.ti.button5.background: Orange3
xcalc.ti.button19.background: #611161
xcalc.ti.button18.background: #611161
xcalc.ti.button20.background: #611111
xcalc.ti.button25.background: #722222
xcalc.ti.button30.background: #833333
xcalc.ti.button35.background: #944444
xcalc.ti.button40.background: #a55555
xcalc.ti.button22.background: #222262
xcalc.ti.button23.background: #222262
xcalc.ti.button24.background: #222272
xcalc.ti.button27.background: #333373
xcalc.ti.button28.background: #333373
xcalc.ti.button29.background: #333373
xcalc.ti.button32.background: #444484
xcalc.ti.button33.background: #444484
xcalc.ti.button34.background: #444484
xcalc.ti.button37.background: #555595
xcalc.ti.button38.background: #555595
xcalc.ti.button39.background: #555595
XCalc*Cursor:                 hand2
!XCalc*ShapeStyle:             rectangle

!xmessage
!.xmessage.form.okay.background: #777777
!.xmessage.form.okay.foreground: snow
xmessage*defaultButton: okay
Xmessage.form.message.Scroll:  WhenNeeded

!xfontsel
!XFontSel*sampleText.background: TEXTBG
XFontSel*menu*showUnselectable: false
XFontSel*MenuButton.shadowWidth: 0
XFontsel*Toggle*ToggleStyle: check
XFontsel*MenuButton*Justify:    left
XFontsel*MenuButton*MenuButtonStyle: select
.xfontsel.pane.commandBox.quitButton.background: #777777
.xfontsel.pane.commandBox.quitButton.foreground: snow
.xfontsel.pane.commandBox.ownButton.background: orange3
.xfontsel.pane.commandBox.ownButton.foreground: snow
.xfontsel.pane.commandBox.countLabel.background: snow
.xfontsel.pane.viewPort.sampleText.background: #777777
.xfontsel.pane.viewPort.sampleText.foreground: snow
.xfontsel.pane.fieldBox.MenuButton.borderWidth: 1
.xfontsel.pane.fieldBox.MenuButton.internalHeight: 1
.xfontsel.pane.fieldBox.MenuButton.internalWidth: 2
!.xfontsel.pane.fieldBox.MenuButton.shapeStyle: rectangle

!xterm
*XTerm*background:  #000000
*XTerm*foreground:  #efefef
! The following two sections take advantage of new features in version 7
! of the Athena widget library.  Comment them out if you have a shallow
! color depth.
XTerm*mainMenu*backgroundPixmap:     gradient:vertical?dimension=600&start=gray10&end=gray40
XTerm*mainMenu*foreground:          	white
XTerm*vtMenu*backgroundPixmap:       gradient:vertical?dimension=750&start=gray10&end=gray40
XTerm*vtMenu*foreground:             white
XTerm*fontMenu*backgroundPixmap:     gradient:vertical?dimension=300&start=gray10&end=gray40
XTerm*fontMenu*foreground:           white
XTerm*tekMenu*backgroundPixmap:      gradient:vertical?dimension=300&start=gray10&end=gray40
XTerm*tekMenu*foreground:            white

!Tkabber*Font:   Verdana 9
!Vkeybd*Font:   Verdana 9
*tkTheme: clam

! *vt100.translations: #override \n\
!         Ctrl ~Shift <Key>Tab: string(0x1b) string("[27;5;9~") \n \
!         Ctrl Shift <Key>Tab: string(0x1b) string("[27;6;9~") \n


fontforge.FontView.FontFamily: Terminus, Consolas
